fdevsec.yaml
creds.json
core.*
# DrawIO temporary files
*.dtmp
*.bkp
.chrome/
!**/.gitkeep
*$py.class
**/.terraform/*
*,cover
*-debug.zip
*.cpuprofile
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.py[cod]
*.so
*.spec
*.tfstate
*.tfstate.*
*.tfvars.json
*.tsbuildinfo
*_override.tf
*_override.tf.json
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.eslintcache
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.python-version
.scrapy
.tox/
.venv
ENV/
TODO
__pycache__
__pycache__/
build
build/
coverage.xml
crash.*.log
crash.log
develop-eggs/
dist
dist/
downloads/
eggs/
env/
example
example.zip
htmlcov/
lib/
lib64/
megalinter-reports/
mkdocs_material.egg-info
node_modules
node_modules/
nosetests.xml
override.tf
override.tf.json
package*.json
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
site
site*/
target/
terraform.rc
.terraform.lock.hcl
tmp
var/
venv
venv/
