---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: read-svc
    namespace: application
subjects:
    - kind: ServiceAccount
      name: video
      apiGroup: ""
      namespace: application
roleRef:
    kind: ClusterRole
    name: svc-reader
    apiGroup: ""
