---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ollama
  namespace: cluster-config
spec:
  targetNamespace: ollama
  releaseName: ollama
  chart:
    spec:
      chart: ollama
      sourceRef:
        kind: HelmRepository
        name: ollama
        namespace: cluster-config
  interval: 10m0s
  install:
    timeout: 20m
    remediation:
      retries: 5
  upgrade:
    timeout: 20m
  values:
    #initContainers:
    #  - name: init-myservice
    #    image: alpine/k8s:1.30.2
    #    command: ['sh', '-c', 'IPADDRESS=$(kubectl -n ollama get svc ollama -o json | jq -r ".spec.clusterIP"); CONFIGDATA=$(kubectl -n fos get configmaps fos-vip-template -o json | jq -r ".data.config" | sed -e "s/VAR_CLUSTER_IP/${IPADDRESS}/g" -e "s/VAR_APP_NAME/ollama/g" -e "s/^/    /g"); echo -e "---\nmetadata:\n  labels:\n    app: fos\n    category: config\n  name: ollama\n  namespace: fos\ndata:\n  config: |\n$CONFIGDATA\n  type: partial\napiVersion: v1\nkind: ConfigMap" > manifest.yaml; cat manifest.yaml; kubectl apply -f manifest.yaml']
    runtimeClass: nvidia
    extraEnv:
      - name: OLLAMA_KEEP_ALIVE
        value: "-1"
    resources:
      limits:
        nvidia.com/gpu: "0"
      requests:
        nvidia.com/gpu: "0"
        memory: "16384M"
    image:
      tag: "latest"
    ollama:
      gpu:
        enabled: true
      models:
        - nomic-embed-text
        - codestral:latest
    ingress:
      enabled: true
      className: "fwb-ingress-controller"
      annotations: {
        "fortiweb-ip" : "10.0.0.4",
        "fortiweb-login" : "fortiweb-login-secret",
        "fortiweb-port": "8443",
        "fortiweb-ctrl-log" : "disable",  
        "virtual-server-ip" : "10.0.0.5",
        "virtual-server-addr-type" : "ipv4",
        "virtual-server-interface" : "port1",
        "server-policy-web-protection-profile" : "Inline Standard Protection",
        "server-policy-https-service" : "HTTPS",
        "server-policy-http-service" : "HTTP",
        "server-policy-syn-cookie" : "enable",
        "server-policy-http-to-https" : "disable"      
      }
      hosts:
        - paths:
            - path: /api
              pathType: Prefix
    persistentVolume:
      enabled: true
      size: 100Gi
    service:
      type: NodePort
