.md-grid {
  margin-left: 15px;
  max-width: 65rem;
}

*, ::after, ::before {
  box-sizing: unset;
}

/* stylelint-disable selector-class-pattern */
.md-sidebar--secondary {
  display: none;
  width: 20px;
}
/* stylelint-enable selector-class-pattern */

.md-sidebar {
  width:10rem
}

.md-content {
  min-width: 80%;
}
