---
name: auto-pull-request

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - "*"
      - "!main"
      - "!gh-pages"
      - "!release-please--branches--*"

permissions:
  contents: write
  pull-requests: write
  id-token: write

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  auto-pull-request:
    name: auto-pull-request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
      - name: pull-request
        uses: diillson/auto-pull-request@4cf50b3681cd76250f37841466e61e514a377064
        with:
          destination_branch: "main"
          github_token: ${{ secrets.PAT || secrets.GITHUB_TOKEN}}
