---
name: mkdocs-build-test

on: # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - gh-pages
      - main
      - dependabot*
      - release-please*
    paths:
      - docs/**.md
      - mkdocs.yml
      - README.md
      - requirements.txt
      - .github/workflows/mkdocs-build-test.yml

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  mkdocs-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871

      - name: Install Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b
        with:
          python-version: 3.x

      - name: Build Docs
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          mkdocs build
