---
name: process-screenshot

on: # yamllint disable-line rule:truthy
  pull_request:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: write

jobs:
  configure:
    if: ${{ ! contains('
      release-please--branches
      dependabot/
      ', github.head_ref)
      }}
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Set matrix data
        id: set-matrix
        run: echo "matrix=$(jq -c . < ./screenshots.json)" >> $GITHUB_OUTPUT

  process-screenshot:
    if: ${{ ! contains('
      release-please--branches
      dependabot/
      ', github.head_ref)
      }}
    name: process-screenshot
    needs: configure
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.configure.outputs.matrix) }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - name: overlay-arrow
        run: |
          composite -geometry ${{ matrix.geometry }} docs/img/overlays/pointer-${{ matrix.pointerangle }}.png docs/img/screenshots/${{ matrix.filename }} docs/img/${{ matrix.filename }}

      - name: border
        uses: jruipinto/ImageMagick-action@f8361c3ab427051432299cef10d7c76424f7ff6d
        with:
          command: convert docs/img/${{ matrix.filename }} -shave 1x1 -bordercolor black -border 1 output.png && mv output.png docs/img/${{ matrix.filename }}

      - name: drop-shadow
        run: |
          convert docs/img/${{ matrix.filename }} \( +clone -background black -shadow 40x50+0+36 \) \
            +swap \
            -background none \
            -layers merge \
            +repage \
            output.png
          convert output.png -bordercolor none -border 32 docs/img/${{ matrix.filename }} && rm output.png

      - name: Push changes
        run: |
          git config user.name "$(git log -n 1 --pretty=format:%an)"
          git config user.email "$(git log -n 1 --pretty=format:%ae)"
          git pull
          git add .
          git commit -m "docs(${{ matrix.filename }}): updating ${{ matrix.url }} processed screenshots"
          git push
