---
name: screenshots

on: # yamllint disable-line rule:truthy
  pull_request:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: write

jobs:
  screenshots:
    if: ${{ ! contains('
      release-please--branches
      dependabot/
      ', github.head_ref)
      }}
    name: screenshots
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - uses: browser-actions/setup-chrome@11cef13cde73820422f9263a707fb8029808e191
      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65

      # - name: Run test
      #  uses: tj-actions/puppeteer@a2befb374cdb596ae129a21e0a52494eb028ee82
      #  id: puppeteer
      #  with:
      #    files: |
      #      puppeteer.js

      - name: Install dependencies
        run: |
          npm i puppeteer

      - name: github-profile-screenshot
        uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3
        with:
          run: |
            node puppeteer.js "https://github.com/${{ github.REPOSITORY_OWNER }}" github-profile.png

      - name: github-fork-screenshot
        uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3
        with:
          run: |
            node puppeteer.js "https://github.com/robinmordasiewicz/devops-toolkit" github-fork.png

      - name: github-profile-border
        uses: jruipinto/ImageMagick-action@f8361c3ab427051432299cef10d7c76424f7ff6d
        with:
          command: convert github-profile.png -shave 1x1 -bordercolor black -border 1 github-profile-border.png

      - name: github-fork-border
        uses: jruipinto/ImageMagick-action@f8361c3ab427051432299cef10d7c76424f7ff6d
        with:
          command: convert github-fork.png -shave 1x1 -bordercolor black -border 1 github-fork-border.png

      - name: overlay-arrow
        run: |
          composite -geometry +1000+35 docs/img/overlays/pointer-45.png github-fork-border.png github-fork-arrow.png
          mv github-fork-arrow.png github-fork.png
          composite -geometry +522+158 docs/img/overlays/pointer-315.png github-profile.png github-profile-arrow.png
          mv github-profile-arrow.png github-profile.png

      - name: make-drop-shadow
        run: |
          for entry in github-profile.png github-fork.png
          do
            convert $entry \( +clone -background black -shadow 40x50+0+36 \) \
              +swap \
              -background none \
              -layers merge \
              +repage \
              output.png
            convert output.png -bordercolor none -border 32 docs/img/$entry
            rm $entry output.png
          done

      - name: Push changes
        run: |
          git config user.name "$(git log -n 1 --pretty=format:%an)"
          git config user.email "$(git log -n 1 --pretty=format:%ae)"
          git add .
          git commit -m "docs: updating screenshots"
          git push
